h3 {
    border-bottom: 1px dotted #ccc ;
}

.content-heading {
    text-transform: uppercase;
}

.profile-pic-container{
    display: flex;
    justify-content: center;
}

.profile-pic-wrap{
    width: 256px;
    height: 256px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

.profile-pic{
    width: 100%;
}